In [1]:
import nltk
from nltk.corpus import wordnet as wn
from nltk.corpus import genesis
nltk.download('genesis')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

import pandas as pd 
import numpy as np
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
from nltk.stem import SnowballStemmer
from nltk.stem.lancaster import LancasterStemmer
from nltk.corpus import stopwords
from sklearn.metrics import roc_auc_score

[nltk_data] Downloading package genesis to /home/deepank/nltk_data...
[nltk_data]   Package genesis is already up-to-date!
[nltk_data] Downloading package wordnet to /home/deepank/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /home/deepank/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/deepank/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [34]:
df=pd.read_excel (r'/home/deepank/Downloads/GUNA_WORK/data_new.xlsx') 
df=df.sort_values(by=['Jobs','Location'])
df=df.dropna(how='any')
df['Jobs']=df["Jobs"].astype("category")
df['Location']=df['Location'].astype("category")
print(df['Jobs'].unique())
print(df['Location'].unique())
df.describe()

[Data Security, Finance, HR, Machine Learning, Software Developer]
Categories (5, object): [Data Security, Finance, HR, Machine Learning, Software Developer]
[Bangalore, Chennai, Mumbai, NCR]
Categories (4, object): [Bangalore, Chennai, Mumbai, NCR]

,Bio,Location,Tags,Jobs
count,37,37,37,37
unique,37,4,37,5
top,Experienced Executive with a demonstrated hist...,NCR,Industry Knowledge\nResearch\n1 endorsement fo...,Software Developer
freq,1,15,1,11

In [45]:
#portfolio of peron who is searching
Self_P='HR'
Self_Loc='NCR'

#portfolio of person who is being searched
P_search='Data Security'

In [51]:
data=df[df['Jobs']==P_search]
data=data[data['Location']==Self_Loc]
data

,Bio,Location,Tags,Jobs
6,I am a goal oriented individual with high work...,NCR,Industry Knowledge\nAndroid Development\n3 fo...,Data Security